<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{modules/layout :: html(title = |归档 - ${site.title}|, content = ~{::content})}">
  <th:block th:fragment="content">
    <div class="primary">
      <th:block th:each="archive : ${archives.items}">
        <h1 th:text="${archive.year} + ' 年'"></h1>
        <div class="archive-month">
          <div th:each="month : ${archive.months}">
            <div class="month-text">
              <span th:text="${month.month} + ' 月'"></span>
            </div>
            <div class="month-post">
              <ul>
                <li th:each="post : ${month.posts}">
                  <a th:href="@{${post.status.permalink}}">
                    <span th:text="${#dates.format(post.spec.publishTime,'dd日 HH:mm:ss')}"></span>
                    <span th:text="${post.spec.title}"></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </th:block>
      <div class="page-bar" th:if="${archives.hasPrevious() || archives.hasNext()}">
        <a th:href="@{${archives.prevUrl}}">
          <span>上一页</span>
        </a>
        <span th:text="${archives.page} +' / '+ ${archives.totalPages}"></span>
        <a th:href="@{${archives.nextUrl}}">
          <span>下一页</span>
        </a>
      </div>
    </div>
    <th:block th:replace="~{modules/aside::postShow(false)}" />
  </th:block>
</html>
