<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(headtitle = |${title} - ${site.title}|, content = ~{::content})}">
  <th:block th:fragment="content">
    <div class="primary">
      <div class="photos_menu">
        <ul>
          <li>
            <a href="/photos" th:classappend="${#lists.isEmpty(param.group) ? 'active' : ''}"> 全部 </a>
          </li>
          <li th:each="group : ${photoFinder.groupBy()}">
            <a th:href="@{|/photos?group=${group.metadata.name}|}"
              th:classappend="${#lists.contains(param.group, group.metadata.name) ? 'active' : ''}"
              th:text="${group.spec.displayName}">
            </a>
          </li>
        </ul>
      </div>
      <div class="photos_content">
        <div class="photos_content_img" th:each="photo : ${photos.items}">
          <img th:src="${photo.spec.url}"
            th:alt="${photo.spec.displayName}" loading="lazy" />
        </div>
      </div>
      <div class="page-bar">
        <th:block th:if="${photos.hasPrevious()} or ${photos.hasNext()}">
          <div>
            <a th:if="${photos.hasPrevious()}" th:href="@{${photos.prevUrl}}">
              上一页
            </a>
          </div>
          <div>
            <a th:if="${photos.hasNext()}" th:href="@{${photos.nextUrl}}">
              下一页
            </a>
          </div>
        </th:block>
      </div>
    </div>
  </th:block>
</html>